// .information_container {
//     padding: 5rem;
//     height: 100%;
//     min-height: 250vh;
// }

.information_flex {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    min-height: 200vh;
}
