.faq_box {
    border: 1px black solid;
    position: relative;
    background: rgb(17, 71, 71);
    color: yellow;
    border-radius: 1em;
    width: 90%;
    padding: 2rem 5rem;
    margin: 5rem 0;
}

.faq_header {
    padding: 2rem 0;
}

.faq_header_underline {
    background: yellow;
    height: 0.5rem;
    border: none;
}

.placeholder {
    font-size: 12rem;
    color: white;
    padding: 2rem 0;
}

.faq_copy {
    font-size: 0.8rem;
    line-height: 2rem;
    color: white;
}

.faq_content {
    display: none;
}

.faq_content.active {
    display: block;
}

.faq_button {
    position: absolute;
    top: 4rem;
    right: 5rem;
    border: none;
    background: transparent;
    color: yellow;
    font-size: 2rem;
    transition: transform ease-in-out 100ms;
}

.faq_button.active {
    transform: rotate(180deg);
    transition: transform ease-in-out 100ms;
}
