$primaryBg: #f8debb;
$secondaryBg: #87ceeb;
$fontPrimary: #005757;
$fontSecondary: #313131;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 180vh;
    overflow-x: hidden;
    color: $fontPrimary;
    text-align: start;
    background: $primaryBg;
}

.top_container {
    width: 100%;
    text-align: end;
    padding: 0 5rem 0 0;
}

.bottom_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: $secondaryBg;
}

.sm_header_container {
    position: absolute;
    top: 5rem;
    z-index: 10;
    padding: 0 10rem;
}

.image_container {
    max-width: 100%;
}

.main_image {
    max-width: 100%;
}

.main_copy {
    color: $fontSecondary;
    line-height: 2rem;
    padding: 2rem 10rem;
}