$fontPrimary: #005757;

.main {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 10rem 0;
    color: $fontPrimary;
    text-align: start;
}

.left_container {
    padding: 3rem;
    width: 30%;
}

.main_copy {
    line-height: 2rem;
}

.right_container {
    width: 50%;
    position: relative;
}

.header_container {
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 10;
}

h1 {
    margin: 0;
    font-size: 5rem;
    
}

h3 {
    margin: 0;
    font-size: 3rem;
    color: $fontPrimary;
}

.image_container {
    position: absolute;
    top: 0;
    left: 0;
}

.main_image {
    max-width: 45rem;
}