$primaryBg: #c8e1f9;
$fontPrimary: #005757;
$fontSecondary: #ffffff;

.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    width: 100vw;
    height: 4rem;
    background: transparent;
    color: $fontSecondary;
    align-items: center;
    text-align: center;
    z-index: 20;
}

.navbar.active {
    animation: colorMe ease-in-out 500ms forwards;
}

.nav_icon {
    font-size: 1.7rem;
}

@keyframes colorMe {
    from {
        background: transparent;
        color: $fontSecondary;
    }

    to {
        background: $primaryBg;
        color: $fontPrimary;
    }
}

.nav_item:hover {
    cursor: pointer;
}

.nav_item:hover .above_line {
    animation: expand 500ms forwards;
}

.above_line {
    visibility: hidden;
    background: $fontPrimary;
    height: 0.2rem;
    border: none;
}

@keyframes expand {
    from {
        visibility: hidden;
        width: 0%;
    }

    to {
        visibility: visible;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}