$primaryBg: #C8E1F9;

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
  background: $primaryBg;
  font-family: 'Rubik', sans-serif;
}

h1 {
  margin: 0;
  font-size: 5rem; 
}

h3 {
  margin: 0;
  font-size: 3rem;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus {
  outline: none;
}